@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.example-card {
  max-width: 450px;
  max-height: 85%;
  background-color: cadetblue;
  margin-left: 30%;
  margin-top: 10%;
}

.form-control {
  width: 100%;

}
.form-group label{max-width: 200px}

.container
{
    color: aliceblue;
    margin-left: 25%;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
    
  .ng-dirty:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  .ng-touched:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }