<h1>
  Sign In Page
</h1>

<div class="container">
<form #signForm="ngForm"> 
  <div class="form-group">
    <label  > Enter Email ID 
      <div> 
        <input type="email" name="emailid" class="form-control" pattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="emailid"  #newemail="ngModel"  required>
      </div>
   
        <div *ngIf="newemail.invalid && (newemail.dirty||newemail.touched)"class="alert alert-danger"> 
          <div *ngIf="newemail.errors?.pattern"> 
              Official Email not valid.
           </div> 
          
              Email is required.
        </div>
       
        </label> 
      </div>
      
      <div class="form-group">
          <label for="password"> Enter Password
            <div>
              <input type="password" name="password" class="form-control" [(ngModel)]="password"   #pass="ngModel" #passwordref required>  
            </div>
                 <p> {{passwordref.value}}</p>
              <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="aler alert-danger">
                Password Required  
                </div>
        
          </label>  
          </div>   

          <button type="submit" class="btn btn-success" [disabled]="!signForm.form.valid" (click)="SigninMethod()"> Sign IN </button>
          <button style="margin-left: 20px;" type="submit" class="btn btn-success" [routerLink]="['/register']"> SignUP </button>




</form>
</div>